.button-store {
  display: inline-block;
  box-sizing: border-box;
  background-color: #252c41;
  font-size: 20px;
  color:#fff;
  font-family: Arial, "Roboto", sans-serif;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-right: 0px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
 
}

.button-store:hover{
background-color: #fff;
color: #ee2244;
}

.button-store.-second {
  background-color: transparent;
  width: 218px;
  line-height: 56px;
  border: 2px solid #fff;
  margin-right: 10px;
   transition: all 200ms linear;
}

.button-store.-second:hover{
  background-color: #fff;
  color: #ee2244;
}

.button-store > button,
.button-store > a {
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 1192px){
  .button-store.-second{
    margin-right: 38px;
  }
}

@media (max-width: 500px){
  .button-store.-second{
    margin-right: 20px; 
  }
}

@media (max-width: 470px){
  .button-store, .button-store.-second{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .button-store.-second{
    margin-bottom: 20px;
  }
}

