.button-store {
  display: inline-block;
  box-sizing: border-box;
  background-color: #252c41;
  font-size: 20px;
  color:#fff;
  font-family: Arial, "Roboto", sans-serif;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-right: 0px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
 
}

.button-store:hover{
background-color: #fff;
color: #ee2244;
}

.button-store.-second {
  background-color: transparent;
  width: 218px;
  line-height: 56px;
  border: 2px solid #fff;
  margin-right: 15px;
   transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.button-store.-second:hover{
  background-color: #fff;
  color: #ee2244;
}

.button-store > button,
.button-store > a {
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: inherit;
}