.container-store{
  box-sizing: border-box;
  background-color: #e24647;
  width: 90%;
  max-width: 1300px;
  padding: 55px 60px 196px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%)   translateY(-50%);
}

@media (max-width: 1289px), (max-height: 1000px){ 
  .container-store{
    position: static;
    transform: none;
    width: 100%;
    max-width: 100%;
  }
} 

@media (max-width: 1292px){
  .container-store{
    padding-right: 0px;
  }
}

@media (max-height: 952px){
  .container-store{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}