.photo-product{
  background-color: #fff;
  display: inline-block;
  height: 555px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 150px;
  padding-left: 50px;
  position: relative;
}

.photo-product::before{
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform: translateX(-100%);
  box-shadow: inset 0 0 39px 0 rgba(50,50,50, 0.36);
}

@media (max-width: 1192px){
  .photo-product {
    display: block;
    margin-right: 0px;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0px;
  }
} 


@media (max-width: 560px){
.photo-product{
  height: auto;
}

  .photo-product > .photo{
    width: 100%;
  }
}