.photo-product{
  background-color: #fff;
  display: inline-block;
  height: 555px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 150px;
}

@media (max-width: 1192px){
  .photo-product {
    display: block;
    margin-right: 0px;
    border-radius: 0px;
    text-align: center;
    margin-bottom: 30px;
  }
} 


@media (max-width: 560px){
.photo-product{
  height: auto;
}

  .photo-product > .photo{
    width: 100%;
  }
}