.wrap-product{
  display: inline-block;
  width: 440px;
  vertical-align: middle;
  position: relative;
}

.wrap-product > .buttons{
  position: absolute;
  bottom: 0px;
  transform: translateY(calc(100% + 98px));
}